body{
    background:url("sign up bg.jpg");
    
    font-family: Arial, Helvetica, sans-serif;
}
.signup{
    width: 390px;
    height: 400px;
    padding: 10px 20px 30px;
    margin: 150px auto;
    background-color: rgba(212, 132, 205, 0.397);
    color: white;
    font-size: 20px;
    border:1.2px solid rgba(243, 189, 255, 0.458);
    border-radius: 10px;
}
h2{
    
    color: rgba(58, 3, 70, 0.897);
    text-align: center;
    font-size: 40px;
}
.signup .label{
    display: block;
}
.input input{
    width: 100%;
    font-size: 16px;
    color: rgb(101, 0, 121);
    border:1.2px solid rgba(203, 29, 241, 0.197);
    border-radius: 9px;
    padding:5px 11px;
    margin: 6px 0px 15px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input:focus{
    background-color: rgba(247, 203, 245, 0.836);
}
.button{
    
    text-align: center;
        
}
button{
    background-color: rgb(128, 0, 255);
    font-size: 19px;
    border-radius: 5px;
    color: rgb(223, 248, 255);
    margin-top: 20px;
    padding: 7px 7px;
    border-radius: 6px;
    border: 1px solid rgba(235, 198, 255, 0.311);
}
.radio input{
    accent-color: rgb(123, 4, 173);
    transform: scale(1.3);
}

button:hover{
    font-size:20px ;
}